*{
    margin: 0;
    box-sizing: border-box;
}
#lineart{
    padding: 6vw;
}
#colorboxes{
    margin-top: 3vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#colorwheel, .chosen{
    margin-top: 2vw;
}
.box, .chosen{
    height: 5vw;
    width: 5vw;
    border: grey solid 1px;
}

.color1{
    background-color: white;
}
.color2{
    background-color: darkblue;
}
.color3{
    background-color: darkgray;
}
.color4{
    background-color: yellow;
}
.color5{
    background-color: darkgreen;
}
.color6{
    background-color: pink;
}
.color7{
    background-color: rgb(187, 148, 41);
}
.color8{
    background-color: hotpink;
}