*{
    margin: 0;
    box-sizing: border-box;
}

label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#lineart{
    padding: 2vw 6vw;
}

#colorboxes{
    margin: 3vw 2vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#glasur_fill path:hover, 
#donut_fill path:hover, 
polygon:hover{
    cursor: pointer;
    fill: black;
    opacity: 5%;
}

#colorwheel:hover,
.box:hover {
    cursor: pointer;
}
#colorwheel{
    margin-top: 2vw;
}
.currentcolor{
    display: flex;
    flex-flow: column wrap;
}
.colorbox{
    align-self: center;
    height: 5vw;
    width: 7vw;
    border: black solid 1.5px;
    border-radius: 10%;
    margin-top: 2vw;
}

.dialog {
    display: none;
  }
  
  .dialog.show {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .dialogcontent {
    background-color: rgb(56, 97, 56);
    padding: 10vw 8vw 8vw 8vw;
    position: relative;
  }
  .dialogcontent h1{
      color: wheat;
  }
  .dialogcontent button{
      color: wheat;
      margin: 1.5vw;
  }
  .dialog .closebutton {
    position: absolute;
    top: 4vw;
    right: 4vw;
    border: none;
    background-color: transparent;
    font-size: 90%;
    color: darkgray;
  }
@media only screen and (min-width: 780px){
    #lineart{
        padding: 3vw 30vw;
    }
}